/*
.node:hover {
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 1s;
}
.node {
    transform: scale(1);
    transform-box: fill-box;
    transform-origin: center;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
}
.edge:hover {
    stroke-color: red;
    stroke-width: 12px;
    opacity: 1;
    transition-property: stroke-width, stroke-color, opacity;
    transition-duration: 0.5s;
}
.edge {
    stroke-color: black;
    stroke-width: 8px;
    opacity: 0.1;
    transition-property: stroke-width, stroke-color, opacity;
    transition-duration: 2s;
}
*/