.edge:hover {
    stroke-color: red;
    stroke-width: 12px;
    opacity: 1;
    transition-property: stroke-width, stroke-color, opacity;
    transition-duration: 0.5s;
}
.edge {
    stroke-color: black;
    stroke-width: 4px;
    opacity: 0.1;
    transition-property: stroke-width, stroke-color, opacity;
    transition-duration: 2s;
}
